<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ROBB Remote Interface</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://source.zoom.us/2.7.0/lib/vendor/react.min.js"></script>
  <script src="https://source.zoom.us/2.7.0/lib/vendor/react-dom.min.js"></script>
  <script src="https://source.zoom.us/2.7.0/zoom-meeting-embedded-2.7.0.min.js"></script>
  <script src="./tools/tool.js"></script>
  <script src="./tools/vconsole.min.js"></script>
  <script src="./tools/token-tool.js"></script>
  <script src="./tools/cdn.js"></script>
  <link rel="stylesheet" href="cdn.css">
</head>

<body onLoad="InitWebSocket()"></body>

<body>
  <div id="ZoomEmbeddedApp"></div>
  <div class="directional-buttons">
    <button id = "direction-button up" onmousedown="NavForward()" onmouseup="NavStop()" class="direction-button up">
      <span class="visually-hidden">up</span>
    </button>
    <button id = "direction-button left" onclick = "NavLeftClick()" onmousedown="NavLeftHold()" onmouseup="NavStop()" class="direction-button left">
      <span class="visually-hidden">left</span>
    </button>
    <button id = "direction-button right" onclick = "NavRightClick()" onmousedown="NavRightHold()" onmouseup="NavStop()" class="direction-button right">
      <span class="visually-hidden">right</span>
    </button>
    <button id = "direction-button down" onmousedown="NavBackward()" onmouseup="NavStop()" class="direction-button down">
      <p style="color:#ffffff; font-family: verdana; position: relative; right: 0px; top:70px;">Navigation Controls</p>
    </button>
  </div>

  <div class="horizontalgap" style="width:100px"></div>

  <div class="camera-buttons">
    <button id = "camera-button up" onclick = "CamUp()" class="camera-button up2">
      <span class="visually-hidden">up</span>
    </button>
    <button id = "camera-button left" onclick = "CamLeft()" class="camera-button left2">
      <span class="visually-hidden">left</span>
    </button>
    <button id = "camera-button right" onclick = "CamRight()" class="camera-button right2">
      <span class="visually-hidden">right</span>
    </button>
    <button id = "camera-button down" onclick = "CamDown()" class="camera-button down2">
      <p style="color:#ffffff; font-family: verdana; position: relative; right: 0px; top:70px;">Camera Controls</p>
    </button>
  </div>

</body>

<!--Javascript functions-->
<script>

let socket = new WebSocket("ws://10.47.194.193:8000");
  function InitWebSocket() {
    console.log("init web socket")

    socket.onopen = function (e) {
      console.log("[open] Connection established");
    };
    socket.onmessage = function (event) {
      console.log(`[message] Data received from server: ${event.data}`);
    };
    socket.onclose = function (event) {
      console.log("socket closed" , event);
    };

  }

  function isOpen(socket) { return socket.readyState === socket.OPEN }
  function wsSend(msg) {
    if (isOpen(socket)) {
      socket.send(msg);
      console.log("msg sent");
    }
    else {
      console.log("ERROR: socket is closed");
    }
  }

  var sendInterval = null;

  function Test() {
    console.log("test button");
  }

  /*
  ******* WebSocket Functions *******
  These functions are called on button clicks
  Click functions used for small adjustments (onclick)
  Hold functions used for long click and hold turning (onmousedown/onmouseup) 
  */

  //Navigation Functions
  function NavForward() {
    console.log("Up button clicked");
    sendInterval = setInterval(SendForward, 100);
    function SendForward() {wsSend("W");}
  }

  function NavLeftHold() {
    console.log("Left button held");
    sendInterval = setInterval(SendLeft, 100);
    function SendLeft() {wsSend("A");}
  }

  function NavLeftClick() {
    console.log("Left button clicked");
    wsSend("AX");
  }

  function NavRightHold() {
    console.log("Right button held");
    sendInterval = setInterval(SendRight, 100);
    function SendRight() {wsSend("D");}
  }

  function NavRightClick() {
    console.log("Right button clicked");
    wsSend("DX");
  }

  function NavBackward() {
    sendInterval = setInterval(SendBackward, 100);
    function SendBackward() {wsSend("S");}
  } 

  function NavStop() {
    console.log("Sending stop command");
    clearInterval(sendInterval);
    wsSend("X");
  }

  //Camera functions
  function CamUp() {
    console.log("Camera up");
    wsSend("1");
  }

  function CamLeft() {
    console.log("Camera left");
    wsSend("3");
  }

  function CamRight() {
    console.log("Camera right");
    wsSend("4");
  }

  function CamDown() {
    console.log("Camera down");
    wsSend("2");
  }
</script>

</html>